/bin/
*.class
.classpath
.history
*/target/*
.cache-*
.project
*.xml
copy-resources
default-batch040818*
target/*
*/reports
default*
*/scala-2.12/*
*.css
*.settings
*.eclipse.*
.part-*
part-*
*/$global/*